<h2>{{"Mercado" | translate}} </h2>
<p>{{"productos segun sun necesidad" | translate}} </p >
<br>

<head>
    <title>Barra de navegación horizontal con listas y estilos CSS</title>
    
    <style type="text/css">
    #navegador ul{
       list-style-type: none;
       text-align: right;
    }
    #navegador li{
       display: inline;
       text-align: right;
       margin: 0 10px 0 0;
    }
    #navegador li a {
       padding: 2px 7px 2px 7px;
       color: #666;
       background-color: #eeeeee;
       border: 1px solid #ccc;
       text-decoration: none;
    }
    #navegador li a:hover{
       background-color: #333333;
       color: #ffffff;
    }
       </style>
    </head>
    
    <body>
    
    
    <div id="navegador">
    <ul>
    <h6>Mi Primer Chat bot</h6>
    <hr>
    <li><a href="formulario">Formulario</a></li>
    <li><a href="#">Elemento 2</a></li>
    <li><a href="#">Elemento 3</a></li>
    <li><a href="#">Elemento 4</a></li>
    <hr>
    </ul>
    </div>
    
    </body>

<br>
<p-carousel [value]="g" [numVisible]="3" [numScroll]="3" [circular]="false" [autoplayInterval]="3000"  [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h3>{{"Productos destacados" | translate}}</h3>
    </ng-template>
    <ng-template let-product pTemplate="item" class="slider">
        <div class="product-item">
            <div class="product-item-content">
                <div class="p-mb-3">
                    <img src={{product.photo}} width="400" height="450" alt="{{product.nombre}}" />
                    
                </div>
                <div class="p-mb-3">
                    <h4 class="p-mb-1">{{product.nombre}}</h4>
                    
                    <h6 class="p-mt-0 p-mb-3">{{"Nombre" | translate}}:   {{product.nombre}}</h6>
                    <h6 class="p-mt-0 p-mb-3">{{"Descripcion:" | translate}}   {{product.descripcion}}</h6>
                    <h6 class="p-mt-0 p-mb-3">{{"Precio" | translate}}:   {{product.precio}}</h6>
                    <button class="btn btn-primary" (click)="comprar(product)">{{"Comprar" | translate}} </button>
                </div>
            </div>
        </div>
    </ng-template>

    <div>
        <img >
    </div>
</p-carousel>


<hr>
 <h2>{{"Lista de todos los productos" | translate}}</h2>
 <hr>
  <br>
  <ul>
    <li *ngFor="let imagen of g" class="lista">

        <div class="card" style="width: 18rem;">
            <img src={{imagen.photo}} class="card-img-top" width="18rem" height="300" alt={{imagen.nombre}}>
            <div class="card-body">
              <h5 class="card-title">{{imagen.nombre}}</h5>
              <p class="card-text">{{imagen.descripcion}}</p>
              <button class="btn btn-primary" (click)="comprar(imagen)">{{"Comprar" | translate}} </button>
            </div>
          </div>
        
     </li>
</ul>

<hr>

 